$width-small: 1000px;
$width-medium1024: 1025px;
$width-medium: 1300px;
$width-large: 1400px;
@media only screen and (max-width: $width-large) {}

@media only screen and (max-width: $width-medium)and (max-height: 1024px) {}

@media only screen and (max-width: $width-medium1024) {}

@media only screen and (max-width: $width-small) {}


/*for Chrome*/

@media screen and (-webkit-min-device-pixel-ratio:0) {}