@charset "UTF-8";
@import "mixins";
@import "extend";
.chart {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.percent {
    display: inline-block;
    line-height: 150px;
    z-index: 2;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

.angular {
    margin-top: 100px;
}

.angular .chart {
    margin-top: 0;
}

.span6 {
    float: left;
    width: 50%;
}